* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
  border: none;
  border-radius: 5px;
}

* #menu-pop {
  display: none;
}

* #nav-bar {
  color: #fff;
  -webkit-transition: .25s;
  transition: .25s;
}

@media (min-width: 275px) and (max-width: 1030px) {
  #menu-pop:checked ~ #nav-bar {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 275px) and (max-width: 1030px) and (min-width: 275px) and (max-width: 450px) {
  #menu-pop:checked ~ #nav-bar {
    height: 50vh;
  }
}

@media (min-width: 275px) and (max-width: 1030px) {
  #menu-pop:checked ~ #nav-bar #navigation .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(1) {
    height: 50px;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) #btn-menu .circles {
    background: #50d88a;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 275px) and (max-width: 1030px) and (min-width: 275px) and (max-width: 450px) {
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 275px) and (max-width: 1030px) {
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(2) .item-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: .25s all;
    transition: .25s all;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(2) .item-nav .icon {
    border-radius: 0;
    margin-right: 10px;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(2) .item-nav p {
    font-weight: 500;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(2) .item-nav:nth-child(1) .icon {
    width: 22.5px;
    height: 20px;
    background: transparent url("../media/svg/plane-solid.svg") no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(2) .item-nav:nth-child(2) {
    margin: 0 25px;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(2) .item-nav:nth-child(2) .icon {
    position: relative;
    top: -1px;
    width: 20px;
    height: 20px;
    background: transparent url("../media/svg/hotel-solid.svg") no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 275px) and (max-width: 1030px) and (min-width: 275px) and (max-width: 450px) {
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(2) .item-nav:nth-child(2) {
    margin: 25px 0;
  }
}

@media (min-width: 275px) and (max-width: 1030px) {
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(2) .item-nav:nth-child(3) .icon {
    position: relative;
    top: -3px;
    width: 17.5px;
    height: 20px;
    background: transparent url("../media/svg/car-on-solid.svg") no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(3) .item-nav {
    cursor: pointer;
    -webkit-transition: .25s all;
    transition: .25s all;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(3) .item-nav:nth-child(1):hover {
    color: #50d88a;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(3) .item-nav:nth-child(2) {
    margin: 0 15px;
    width: 2px;
    height: 25px;
    background: #fff;
  }
  #menu-pop:checked ~ #nav-bar #navigation .nav-list:nth-child(3) .item-nav:nth-child(3) {
    font-weight: 600;
    font-size: 1.25em;
    color: #50d88a;
  }
  #nav-bar {
    top: 20px;
    position: fixed;
    padding: 0 20px;
    width: 100vw;
    height: 50px;
    background: transparent;
  }
}

@media (min-width: 275px) and (max-width: 1030px) and (min-width: 360px) and (max-width: 1030px) {
  #nav-bar {
    padding: 0 25px;
  }
}

@media (min-width: 275px) and (max-width: 1030px) {
  #nav-bar #navigation {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 63, 0.75);
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  #nav-bar #navigation .nav-list {
    -webkit-transition: .5s all;
    transition: .5s all;
  }
  #nav-bar #navigation .nav-list:nth-child(1) {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 25px;
  }
}

@media (min-width: 275px) and (max-width: 1030px) and (min-width: 360px) and (max-width: 450px) {
  #nav-bar #navigation .nav-list:nth-child(1) {
    padding: 0 25px;
  }
}

@media (min-width: 275px) and (max-width: 1030px) and (min-width: 720px) and (max-width: 1030px) {
  #nav-bar #navigation .nav-list:nth-child(1) {
    padding: 0 50px;
  }
}

@media (min-width: 275px) and (max-width: 1030px) {
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(1) #logo {
    background: transparent url("../media/svg/flying-logo-nome-branca.svg") no-repeat center center;
    background-size: cover;
    width: 90.44px;
    height: 25px;
    display: block;
  }
}

@media (min-width: 275px) and (max-width: 1030px) and (min-width: 720px) and (max-width: 1030px) {
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(1) #logo {
    width: 108.52px;
    height: 30px;
  }
}

@media (min-width: 275px) and (max-width: 1030px) {
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) #btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) #btn-menu .circles {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: .25s all;
    transition: .25s all;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) #btn-menu .circles:nth-child(2) {
    margin: 4px 0;
  }
  #nav-bar #navigation .nav-list:nth-child(2), #nav-bar #navigation .nav-list:nth-child(3) {
    display: none;
    opacity: 0;
  }
}

@media (min-width: 1030px) {
  #nav-bar {
    position: fixed;
    top: 25px;
    padding: 0 50px;
    width: 100vw;
    height: 75px;
    background: transparent;
  }
  #nav-bar #navigation {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 63, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 75px;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(1) #logo {
    background: transparent url("../media/svg/flying-logo-nome-branca.svg") no-repeat center center;
    background-size: cover;
    width: 126.61px;
    height: 35px;
    display: block;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) {
    display: none;
  }
  #nav-bar #navigation .nav-list:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #nav-bar #navigation .nav-list:nth-child(2) .item-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: .25s all;
    transition: .25s all;
  }
  #nav-bar #navigation .nav-list:nth-child(2) .item-nav:hover {
    color: #50d88a;
  }
  #nav-bar #navigation .nav-list:nth-child(2) .item-nav .icon {
    border-radius: 0;
    margin-right: 10px;
  }
  #nav-bar #navigation .nav-list:nth-child(2) .item-nav p {
    font-weight: 500;
  }
  #nav-bar #navigation .nav-list:nth-child(2) .item-nav:nth-child(1) .icon {
    width: 22.5px;
    height: 20px;
    background: transparent url("../media/svg/plane-solid.svg") no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #nav-bar #navigation .nav-list:nth-child(2) .item-nav:nth-child(2) {
    margin: 0 25px;
  }
  #nav-bar #navigation .nav-list:nth-child(2) .item-nav:nth-child(2) .icon {
    position: relative;
    top: -1px;
    width: 20px;
    height: 20px;
    background: transparent url("../media/svg/hotel-solid.svg") no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #nav-bar #navigation .nav-list:nth-child(2) .item-nav:nth-child(3) .icon {
    position: relative;
    top: -3px;
    width: 17.5px;
    height: 20px;
    background: transparent url("../media/svg/car-on-solid.svg") no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #nav-bar #navigation .nav-list:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #nav-bar #navigation .nav-list:nth-child(3) .item-nav {
    cursor: pointer;
    -webkit-transition: .25s all;
    transition: .25s all;
  }
  #nav-bar #navigation .nav-list:nth-child(3) .item-nav:nth-child(1):hover {
    color: #50d88a;
  }
  #nav-bar #navigation .nav-list:nth-child(3) .item-nav:nth-child(2) {
    margin: 0 15px;
    width: 2px;
    height: 45px;
    background: #fff;
  }
  #nav-bar #navigation .nav-list:nth-child(3) .item-nav:nth-child(3) {
    font-weight: 600;
    font-size: 1.25em;
    color: #50d88a;
  }
}
/*# sourceMappingURL=main.css.map */